* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
}

html {
  font-size: 18px;
}

body {
  color: #111;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input {
  font: inherit;
  border: none;
  background-color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}
